*{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  width: 400px;
  margin: 10px auto;
}

.main{
  width: 400px;
  margin: 10px auto;
}

.title{
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
}

.date{
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
}

.books{
  width: 180px;
  height: 35px;
  background-color: #0066ff;
  color: white;
  border-radius: 8%;
  border: 1px solid white;
  font-size: 15px;
}

.stock{
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
}
