*{
  margin: 0;
  padding: 0;
}

.header{
  width: 800px;
  height: 30px;
  margin: 20px auto;
}

.main{
  width: 800px;
  height: 30px;
  margin: 20px auto;
}

.new_legi{
  width: 80px;
  height: 35px;
  background-color: #0066ff;
  color: white;
  border-radius: 8%;
  border: 1px solid white;
  font-size: 15px;
  margin-right: 15px;
}

.logout{
  width: 80px;
  height: 35px;
  background-color: #808080;
  color: white;
  border-radius: 8%;
  border: 1px solid white;
  font-size: 15px;
}

.tablehead{
  background-color: #dcdcdc;
}

.tablelayout{
  width: 800px;
  height: 30px;
  margin: 20px auto;
}

.delete{
  width: 50px;
  height: 35px;
  margin-left: 10px;
  background-color: red;
  color: white;
  border-radius: 8%;
  border: 1px solid white;
  font-size: 15px;
  margin-right: 15px;
}
