/* resetcss */
*{
  padding: 0px;
  margin: 0px;
}

.clearfix::after { 
  content: ''; 
  display: block; 
  clear: both;
}

/* ヘッダー */
.header{
  width: 300px;
  height: 50px;
  background-color: #141f40;
}

/* コンテンツ左 */
.left{
  float: left;
  width: 100px;
  height: 150px;
}

.left-upper{
  float: left;
  width: 100px;
  height: 100px;
  background-color: #80bfa8;
}

.left-lowwer{
  float: left;
  width: 100px;
  height: 50px;
  background-color: #dbd403;
}
/* コンテンツ左終了 */

/* コンテンツ右 */
.right{
  float: left;
  width: 200px;
  height: 150px;
}

.right-upper{
  float: left;
  width: 200px;
  height: 50px;
  background-color: #0093b7;
}

.right-left{
  float: left;
  width: 50px;
  height: 100px;
  background-color: #ff9e6b;
}

.right-right-upper{
  float: right;
  width: 150px;
  height: 50px;
  background-color: #8c2727ff;
}

.right-right-lower{
  float: right;
  width: 150px;
  height: 50px;
  background-color: #e06666ff;
}


/* フッター */
.footer{
  width: 300px;
  height: 50px;
  background-color: #d98d30;
}