/* resetcss */
*{
  padding: 0px;
  margin: 0px;
}
body{
  width: 1000px;
}

.clearfix::after { 
  content: ''; 
  display: block; 
  clear: both;
}

/* ヘッダー開始 */
.header{
  width: 1000px;
  height: 120px;
}
.header-left{
  float: left;
  height: 120px;
  width: 200px;
  background-color: #add8e6;
}

.header-right{
  float: right;
  height: 120px;
  width: 800px;
}

.header-right-upper{
  float: left;
  height: 60px;
  width: 1000px;
  background-color: #87ceeb;
}

.name{
  text-align: right;
  line-height: 60px;
}

.header-right-lowwer{
  float: left;
  height: 60px;
  width: 1000px;
  background-color: #00ffff;
}

.dates{
  text-align: right;
  line-height: 60px;
}
/* ヘッダー終了 */

.contents{
  width: 800px;
  margin: 10px auto;
}

/* テーブル開始 */
.table-head{
  background-color: #87ceeb;

}
/* テーブル終了 */

/* フッダー開始 */
.footer{
  height: 50px;
  width: 1200px;
  background-color: #00ced1;
}
/* フッダー終了 */

.tr-1{
  background-color: #87ceeb;
}

table{
  background-color: #e0ffff;
}