/* resetcss */
*{
  padding: 0px;
  margin: 0px;
}

.clearfix::after { 
  content: ''; 
  display: block; 
  clear: both;
}

/* ヘッダー開始 */
.header{
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

.header-box{
  width: 160px;
  height: 60px;
  background-color: white;
  position: relative;
  top: 20px;
  right: 30px;
  left: 210px;
}

.header-inbox1{
  float: left;
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  position: relative;
  top: 10px;
  left: 10px;
  right: 110px;
  border-right:solid 5px white
}

.header-inbox2{
  float: left;
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  position: relative;
  top: 10px;
  left: 10px;
  right: 60px;
  border-right:solid 5px white
}

.header-inbox3{
  float: left;
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  position: relative;
  top: 10px;
  left: 10px;
  right: 60px;
  border-right:solid 5px white
}
/* ヘッダー終了 */

.left{
  float: left;
  width: 150px;
  height: 250px;
  background-color:#80bfa8;
}

/* 右側のボックス */
.right{
  float: left;
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  
}

.right-box1{
  float: left;
  border-style: solid #ffffff;
  width: 140px;
  height: 50px;
  background-color: #ff863f;
  position: relative;
  top: 40px;
  left: 40px;
  right: 60px;
  bottom: 10px;
}

.right-box2{
  float: left;
  border-style: solid #ffffff;
  width: 140px;
  height: 50px;
  background-color: #ff863f;
  position: relative;
  top: 10px;
  left: 40px;
  right: 60px;
  bottom: 10px;
}

.right-box3{
  float: left;
  border-style: solid #ffffff;
  width: 140px;
  height: 50px;
  background-color: #ff863f;
  position: relative;
  top: 10px;
  left: 40px;
  right: 60px;
  bottom: 40px;
}
/* 右ボックス終了 */

.footer{
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}
