@media screen and (max-width: 479px) {
  .header{
    width: 200px;
    height: 200px;
  }

  .header-box{
    width: 60px;
    height: 160px;
    position: relative;
    top: 20px;
    left: 70px;
  }

  .left{
    float: none;
    width: 200px;
    height: 100px;
  }

  .right{
    width: 200px;
    height: 250px;
    background-color: #8c2727;
  }
  
  .right-box1{
    border:3px solid #ffffff;
    width: 140px;
    height: 50px;
    background-color: #ff863f;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .right-box2{
    border:3px solid #ffffff;
    width: 140px;
    height: 50px;
    background-color: #ff863f;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  .right-box3{
    border:3px solid #ffffff;
    width: 140px;
    height: 50px;
    background-color: #ff863f;
    margin-top: 10px;
    margin-left: 30px;
  } 

  .footer{
    width: 200px;
  }
  

}